.list-user-container{
    .title{

    }
    .list-user-content{
        .child {
            border: 1px solid gray;
            width: 400px;
            height: 50px;
            margin: 10px auto;
        }
    }
}



